@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "DEWA";
}
<br />
<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>بيانات هيئة كهرباء ومياه دبي للضمان الاجتماعي</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">
        <table id="ServiceTypeId" class="table table-bordered table-active">
            <tr>
                <td colspan="3"><h6><small><b> نوع الخدمة</b></small></h6></td>
                <td align="center">
                    <select id="querytype" class="dropdown dropdown-header form-control">
                        <option value="-1">-- اختر --</option>
                        <option value="1">بطاقة هوية</option>
                        <option value="2">جواز السفر</option>
                        <option value="3">اضبارة الجواز</option>
                        <option value="4">رقم حساب</option>

                    </select>
                </td>
                <td><input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table class="table table-bordered table-active">
            <tr>
                <td><h6><small><b></b></small></h6></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>
            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>

        <table class="DataTable">
            <tr>
                <th class="text-center">
                    <h4>
                        <small>
                            <b>
                                البيانات التفصيلية لهيئة كهرباء ومياه دبي للضمان الاجتماعي
                            </b>
                        </small>
                    </h4>
            </tr>
        </table>

        <div id="divTables">
        </div>
        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>

        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <thead class="">
                <tr>

                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    رقم المنزل
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الشارع
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    المنطقة
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الرمز البريدي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    المدينة
                                </b>
                            </small>
                        </h6>
                    </th>
                </tr>
            </thead>
            <tbody class="tbody1 text-center" id="tbody1"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <!-- Bootstrap -->
    <!-- Bootstrap DatePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap DatePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>


        $(document).ready(function () {
            $('.DataTable').hide();
            $('#SubmitTable').hide();
        });
        $("#querytype").change(function () {
            document.getElementById('response').innerText = '';
            document.getElementById('response').style.color = 'white';
            $('#txtEmiratesId').val('');

            var val = $("#querytype option:selected").val();

            if (val == '-1') {
                $('.DataTable').hide();
                $('#NationalId').hide();
                $('#SubmitTable').hide();
            }
            else if (val == '1') {
                $('.DataTable').hide();
                $('#txtEmiratesId').show();
                $('#SubmitTable').show();
            }
            else if (val == '2') {
                $('.DataTable').hide();
                $('#txtEmiratesId').show();
                $('#SubmitTable').show();
            }
            else if (val == '3') {
                $('.DataTable').hide();
                $('#txtEmiratesId').show();
                $('#SubmitTable').show();
            }
            else if (val == '4') {
                $('.DataTable').hide();
                $('#txtEmiratesId').show();
                $('#SubmitTable').show();
            }

        });

        function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');
            var url = '@Url.Action("Search","DEWA")';

            $(".tbody").empty();
            $(".tbody1").empty();
            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';
            var html1 = '';

            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0 && ($("#querytype option:selected").val() == "1" || $("#querytype option:selected").val() == "2" || $("#querytype option:selected").val() == "3" || $("#querytype option:selected").val() == "4" ) ){

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();
                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

            var input = { "EmiratesId": $('#txtEmiratesId').val() };
            var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { stype: $("#querytype option:selected").val(), postdata: JSON.stringify(input), UserAgent: JSON.stringify(UsrAgent)  }, function (data) {
                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }

                var obj = JSON.parse(data);
                if (obj.flag == "1") {

                    $.each(obj.lstDEWAResponse, function (key, item) {

                        html = BindHTML(item);
                        $("#divTables").append(html);
                        $('.DataTable').show();
                        if (item.Address != null) {


                            html1 += '<tr>';
                            html1 += '<td>' + item.Address.houseNumber + '</td>';
                            html1 += '<td>' + item.Address.street + '</td>';
                            html1 += '<td>' + item.Address.district + '</td>';
                            html1 += '<td>' + item.Address.postalCode + '</td>';
                            html1 += '<td>' + item.Address.city + '</td>';
                            html1 += '</tr>';

                        }

                    });

                    $(".tbody1").append(html1);
                    $('.DataTable').show();
                }
                 else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }
        function BindHTML(item) {
            var html = '';
            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';
            html += '<td>رقم نوع المدخل</td>';
            html += '<td>' + item.inputIdType + '</td>';
            html += '<td>رقم المدخل</td>';
            html += '<td>' + item.inputIdNumber + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>رقم المبنى</td>';
            html += '<td>' + item.premiseNo + '</td>';
            html += '<td>نوع المبنى</td>';
            html += '<td>' + item.premiseType + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>حساب العقد</td>';
            html += '<td>' + item.contractAccount + '</td>';

            html += '<td>نوع حساب العقد</td>';
            html += '<td>' + item.contractAccountType + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>اسم المالك</td>';
            html += '<td>' + item.ownerName + '</td>';
            html += '<td>يحمل الجنسية الإماراتية</td>';
            html += '<td>' + item.uaeNational + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>تاريخ الانتقال</td>';
            html += '<td>' + item.moveInDate + '</td>';
            html += '<td>تاريخ الانتهاء</td>';
            html += '<td>' + item.moveOutDate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>رقم مكاني</td>';
            html += '<td>' + item.makaniNumber + '</td>';
            html += '<td>رقم الهوية الإماراتية</td>';
            html += '<td>' + item.eidNumber + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>الدعم الاجتماعي</td>';
            html += '<td>' + item.socialbenefit + '</td>';
            html += '<td>رقم المنطقة</td>';
            html += '<td>' + item.communityNumber + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td>دورة الفوترة</td>';
            html += '<td>' + item.billingCycle + '</td>';
            html += '<td>يتلقى علاوة تضخم</td>';
            html += '<td>' + item.recInflationAllowance + '</td>';
            html += '</tr>';


            html += '</tbody>  </table>';
            return html
        }


       $("#btnsubmit").on("click", getData);
        $('#create_pdf').on('click', function () {
            getPDF("DEWA.pdf");
       });

    </script>
}

