@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<div>
    <p><strong>Controller:</strong> @Model.ControllerName</p>
    <p><strong>Action:</strong> @Model.ActionName</p>
    <p><strong>Exception:</strong> @Model.Exception.Message</p>
    <p><strong>Stack Trace:</strong></p>
    <pre>@Model.Exception.StackTrace</pre>
</div>

