@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contract Detail";
}
<br />

<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>تفاصيل العقود في شرطة أبوظبي</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">


        <table id="IDType" class="table table-bordered table-active">
            <tr>
                <td><h6><small><b> رقم بطاقة الهوية</b></small></h6></td>
                <td> <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>
            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.DataTable').hide();
        });


        function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search", "ADPContractDetails")';

            $(".tbody").empty();


            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';


            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

            var EmiratesId = $('#txtEmiratesId').val();
            var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { EmiratesId: EmiratesId, UserAgent: JSON.stringify(UsrAgent) }, function (data) {
                
                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }
                data = data.replace(/\:null/gi, "\:\"\"");
                var obj = JSON.parse(data);

                


                if (obj.flag == "1") {

                    $.each(obj.lstResponse, function (key, item) {
                        debugger
                        html += '<tr>';
                        html += '<td><h6><small><b>' + "الرقم المروري" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.TcfNo + '</td>';
                        html += '<td><h6><small><b>' + "رقم الهوية" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.NationalNo + '</td>';
                        html += '</tr>';

                        html += '<tr>';
                        html += '<td><h6><small><b>' + "رقم العقد" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.ContractNo + '</td>';
                        html += '<td><h6><small><b>' + "قيمة العقد" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.ContractAmount + '</td>';
                        html += '</tr>';

                        html += '<tr>';
                        html += '<td><h6><small><b>' + "تاريخ البداية" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.StartDate + '</td>';
                        html += '<td><h6><small><b>' + "تاريخ الانتهاء" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.EndDate + '</td>';
                        html += '</tr>';

                        html += '<tr>';
                        html += '<td><h6><small><b>' + "خطأ بالكود" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.ErrorCode + '</td>';
                        html += '<td><h6><small><b>' + "خطأ بالكتابة بالعربي" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.ErrorTextAr + '</td>';
                        html += '</tr>';

                        html += '<tr>';
                        html += '<td><h6><small><b>' + "خطأ بالكتابة بالانجليزي" + '</b></small></h6></td>';
                        html += '<td>' + item.OutParameters.ErrorTextEn + '</td>';
                        html += '</tr>';
                    });
                    $(".tbody").append(html);
                    $('.DataTable').show();
                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

       $("#btnsubmit").on("click", getData);

       $('#create_pdf').on('click', function () {
            getPDF("ADPContractDetails.pdf");
       });

    </script>
}
