@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Sharjah Munciplaity Service - بلدية مدينة الشارقة";
}
<br />

<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>بلدية مدينة الشارقة</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">


        <table id="IDType" class="table table-bordered table-active">
            <tr>
                <td><h6><small><b> رقم بطاقة الهوية</b></small></h6></td>
                <td> <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>
            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <div id="divTables">
        </div>

        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.DataTable').hide();
        });


        function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search", "SharjahMunicipality")';

            $(".tbody").empty();
            $("#divTables").empty();

            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';


            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

            var EmiratesId = $('#txtEmiratesId').val();
            var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { EmiratesId: EmiratesId, UserAgent: JSON.stringify(UsrAgent) }, function (data) {

                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }
                data = data.replace(/\:null/gi, "\:\"\"");
                var obj = JSON.parse(data);


                if (obj.flag == "1") {
                    if (obj?.objResponse?.data?.length > 0) {
                        for (var i = 0; i < obj?.objResponse?.data?.length; i++) {

                            html = BindHTML(obj.objResponse.data[i]);
                            $("#divTables").append(html);
                            $('.DataTable').show();
                        }
                    }
                    else {
                        document.getElementById('response').innerText = (obj.lstResponse[0].Message);
                        document.getElementById('response').style.color = 'white';
                    }


                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

       $("#btnsubmit").on("click", getData);

       $('#create_pdf').on('click', function () {
            getPDF("SharjahMuncipality.pdf");
       });

        var StringHasValue = function (strValue) {
            if ($.trim(strValue) != "" && $.trim(strValue) != null && $.trim(strValue) != undefined)
                return strValue;
            else
                return "-";
        };
        function BindHTML(item) {
            var html = '';
            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';

            html += '<td><h6><small><b>' + "رقم العقد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.contracT_NO) + '</td>';
            html += '<td><h6><small><b>' + "نوع العقد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.conT_TYPE) + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "الطابق" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.flaT_DESC) + '</td>';
            html += '<td><h6><small><b>' + "اسم المستأجر" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.tenanT_NAME) + '</td>';
            html += '</tr>';



            html += '<tr>';

            html += '<td><h6><small><b>' + "رقم الجواز" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.passporT_NO) + '</td>';
            html += '<td><h6><small><b>' + "تاريخ بداية القعد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.conT_START_DATE) + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "تاريخ نهاية العقد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.conT_END_DATE) + '</td>';
            html += '<td><h6><small><b>' + "المنطقة" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.area) + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "رقم المنطقة" + '</b></small></h6></td>';
            html += '<td>' + item.zonE_CODE + '</td>';
            html += '<td><h6><small><b>' + "رقم الارض" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.lanD_NO) + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "الحالة" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.status) + '</td>';
            html += '<td><h6><small><b>' + "رقم الهوية" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.uaE_NATIONAL_ID) + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "رقم الجنسية" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.nationaL_NO) + '</td>';
            html += '</tr>';




            html += '</tbody>  </table>';
            return html
        }
    </script>
}
