
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "الاستعلام في وزارة الداخلية";
}
<br />
<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>الاستعلام في وزارة الداخلية</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">
        <table class="table table-bordered table-active">
            <tr>
            <tr>
                <td>
                    <h6>
                        <small>
                            <b> بطاقة هوية </b>
                        </small>
                    </h6>
                </td>
                <td colspan="3">
                    <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" />
                </td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">

                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>


            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <thead class="">
                <tr>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    رقم الهوية
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>هل الشخص مسجون ؟ </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    رقم الشهادة الجنائية
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    وضع الشهادة الجنائية بالانجليزي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    وضع الشهادة الجنائية بالعربي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    هل الشخص يتعالج ؟
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    هل الشخص خارج الدولة
                                </b>
                            </small>
                        </h6>
                    </th>
                </tr>
            </thead>

            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>



        $(document).ready(function () {

            $('.DataTable').hide();

        });


         function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search","MoI")';

             $(".tbody").empty();
            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
             var html = '';

            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

             var input = { "EmiratesID": $('#txtEmiratesId').val() };
             var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { postdata: JSON.stringify(input), UserAgent: JSON.stringify(UsrAgent)  }, function (data) {
                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }

                var obj = JSON.parse(data);
                if (obj.flag == "1") {

                    $.each(obj.lstResponseParams, function (key, item) {

                        html += '<tr>';
                        html += '<td>' + item.EmiratesId + '</td>';
                        html += '<td>' + item.isPersonHasBeenImprisoned + '</td>';
                        html += '<td>' + item.personCertificateStatusId + '</td>';
                        html += '<td>' + item.personCertificateStatusEn + '</td>';
                        html += '<td>' + item.personCertificateStatusAr + '</td>';
                        html += '<td>' + item.isPersonHasTreatment + '</td>';
                        html += '<td>' + item.isPersonExitCountry + '</td>';
                        html += '</tr>';

                    });

                    $(".tbody").append(html);
                    $('.DataTable').show();
                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

        $("#btnsubmit").on("click", getData);

        $('#create_pdf').on('click', function () {
            getPDF("MoI.pdf");
       });


    </script>

}

