@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "خدمة الاستعلام عن الوفيات";
}

<br />
<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>خدمة الاستعلام عن الوفيات</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">
        <table id="NationalId" class="table table-bordered table-active">
            <tr>
                <td><h6><small><b> بطاقة هوية </b></small></h6></td>
                <td colspan="3"> <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>

            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <thead class="">
                <tr>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>

                                    رقم الهوية الاماراتية
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الاسم بالعربي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الاسم بالانجليزي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الرقم الموحد
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    الجنسية
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    تاريخ الميلاد
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    لجنس ( ذكر/انثى)
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    اسم الام بالعربي
                                </b>
                            </small>
                        </h6>
                    </th>
                    <th class="text-center">
                        <h6>
                            <small>
                                <b>
                                    تاريخ الوفاة
                                </b>
                            </small>
                        </h6>
                    </th>

                </tr>
            </thead>
            <tbody class="tbody text-center" id="tbody"></tbody>

        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>

    <script>



        $(document).ready(function () {
            $('.DataTable').hide();
        });


         function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search","DPDeathQuery")';

            $(".tbody").empty();
            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';

            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
             }
            else {
                document.getElementById('error').innerText = ('');
            }

             var input = { "EmiratesID": $('#txtEmiratesId').val() };
             var UsrAgent = { "UserAgent": $.browser };

            $.get(url, {postdata: JSON.stringify(input), UserAgent: JSON.stringify(UsrAgent) }, function (data) {
                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }

                var obj = JSON.parse(data);
                if (obj.flag == "1") {

                    $.each(obj.lstDPResponse, function (key, item) {

                        html += '<tr>';
                        html += '<td>' + item.EMIRATES_ID + '</td>';
                        html += '<td>' + item.NAME_ARABIC + '</td>';
                        html += '<td>' + item.NAME_ENGLISH + '</td>';
                        html += '<td>' + item.UNIFIED_NO + '</td>';
                        html += '<td>' + item.NATIONALITY_DESC + '</td>';
                        html += '<td>' + item.DOB + '</td>';
                        html += '<td>' + item.GENDER_DESC + '</td>';
                        html += '<td>' + item.MOTHER_NAME_AR + '</td>';
                        html += '<td>' + item.CASE_DATE + '</td>';
                        html += '</tr>';

                    });

                    $(".tbody").append(html);
                    $('.DataTable').show();
                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

       $("#btnsubmit").on("click", getData);

        $('#create_pdf').on('click', function () {
            getPDF("DubaiPoliceDeathQuery.pdf");
       });
    </script>
}


