@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Birth Certificate Service - دائرة الصحة";
}
<br />

<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>دائرة الصحة</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">


        <table id="IDType" class="table table-bordered table-active">
            <tr>
                <td><h6><small><b> رقم بطاقة الهوية</b></small></h6></td>
                <td> <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>
            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <div id="divTables">
        </div>

        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.DataTable').hide();
        });


        function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search", "BirthCertificate")';

            $(".tbody").empty();
            $("#divTables").empty();

            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';


            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

            var EmiratesId = $('#txtEmiratesId').val();
            var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { EmiratesId: EmiratesId, UserAgent: JSON.stringify(UsrAgent) }, function (data) {

                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }
                data = data.replace(/\:null/gi, "\:\"\"");
                var obj = JSON.parse(data);




                if (obj.flag == "1") {
                    $.each(obj.result, function (key, item) {

                        html = BindHTML(item.Contents);
                        $("#divTables").append(html);
                        $('.DataTable').show();
                    });
                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

       $("#btnsubmit").on("click", getData);

       $('#create_pdf').on('click', function () {
            getPDF("BirthCertificate.pdf");
       });

        var StringHasValue = function (strValue) {
            if ($.trim(strValue) != "" && $.trim(strValue) != null && $.trim(strValue) != undefined)
                return strValue;
            else
                return "-";
        };
        function BindHTML(item) {
            var html = '';
            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';
            html += '<td><h6><small><b>' + "معرف شهادة الميلاد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BirthCertificateID) + '</td>';
            html += '<td><h6><small><b>' + "اسم الاب بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherFullNameEnglish) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم الاب بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherFullNameArabic) + '</td>';
            html += '<td><h6><small><b>' + "رمز  ديانة الأب" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherReligion.Code) + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "ديانة الاب بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherReligion.DescriptionEnglish) + '</td>';
            html += '<td><h6><small><b>' + "ديانة الاب بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherReligion.DescriptionArabic) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رمز جنسية الاب" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherNationality.Code) + '</td>';
            html += '<td><h6><small><b>' + "جنسية الاب بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherNationality.DescriptionEnglish) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "جنسية الاب بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.FatherNationality.DescriptionArabic) + '</td>';
            html += '<td><h6><small><b>' + "اسم الام الانجليزي" + '</b></small></h6></td>';
            html += '<td>' + item.MotherFullNameEnglish + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم الام بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherFullNameArabic) + '</td>';
            html += '<td><h6><small><b>' + "رمز  ديانة الأم" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherReligion.Code) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "ديانة الام بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherReligion.DescriptionEnglish) + '</td>';
            html += '<td><h6><small><b>' + "ديانة الام بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherReligion.DescriptionArabic) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رمز جنسية الام" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherNationality.Code) + '</td>';
            html += '<td><h6><small><b>' + "جنسية الأم بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherNationality.DescriptionEnglish) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "جنسية الأم بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.MotherNationality.DescriptionArabic) + '</td>';
            html += '<td><h6><small><b>' + "اسم الطفل بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyFirstNameEnglish) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم الطفل بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyFirstNameArabic) + '</td>';
            html += '<td><h6><small><b>' + "رمز جنس الطفل" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyGender.Code) + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "ديانة الطفل بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyGender.DescriptionEnglish) + '</td>';
            html += '<td><h6><small><b>' + "ديانة الطفل بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyGender.DescriptionArabic) + '</td>';
            html += '</tr>';

            html += '<tr>';
          
            html += '<td><h6><small><b>' + "تاريخ ميلاد الطفل بالهجري" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyDateOfBirth) + '</td>';
            html += '<td><h6><small><b>' + "تاريخ ميلاد الطفل بالهجري" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyDateOfBirthInHijri) + '</td>';
            html += '</tr>';

            html += '<tr>';
          
            html += '<td><h6><small><b>' + "تاريخ الميلاد بالهجري كتابة" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BabyDateOfBirthInHijriWords) + '</td>';
            html += '<td><h6><small><b>' + "تاريخ اصدار الشهادة" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.CertificateIssueDate) + '</td>';
            html += '</tr>';

            html += '<tr>';          
            html += '<td><h6><small><b>' + "مكان الميلاد" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.BirthPlace) + '</td>';
            html += '<td><h6><small><b>' + "مكان اصدار الشهادة بالانجليزي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.CertificatePlaceOfIssueEnglish) + '</td>';
            html += '</tr>';

            html += '<tr>';          
            html += '<td><h6><small><b>' + "مكان اصدار الشهادة بالعربي" + '</b></small></h6></td>';
            html += '<td>' + StringHasValue(item.CertificatePlaceOfIssueArabic) + '</td>';
            html += '</tr>';


            html += '</tbody>  </table>';
            return html
        }
    </script>
}
