@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "MBHRE Service - مؤسسة محمد بن راشد للاسكان";
}
<br />

<div class="canvas_div_pdf">
    <div style="text-align:center" class="table table-bordered table-active"> <h4><small><b>مؤسسة محمد بن راشد للاسكان</b></small></h4></div>
    <div dir="rtl" class="table-responsive table-condensed text-center ">


        <table id="IDType" class="table table-bordered table-active">
            <tr>
                <td><h6><small><b> رقم بطاقة الهوية</b></small></h6></td>
                <td> <input id="txtEmiratesId" type="text" class="form-control" style="width:100%" /></td>

            </tr>
        </table>
        <table id="SubmitTable" class="table">
            <tr>
                <td colspan="4">
                    <input class="btn btn-secondary active text-center" type="submit" id="btnsubmit" value="الحصول على البيانات" />
                    <img id="create_pdf" src="~/Images/PDF.png" alt="pdf" style="height:50px;width:80px;float:left " />
                </td>
            </tr>
        </table>
        <div id="error" class="bg-danger"></div>
        <br />
        <div id="divLoading">
        </div>
        <div id="divTables">
        </div>

        <table class="DataTable table table-bordered  table-hover text-center table-active">
            <tbody class="tbody text-center" id="tbody"></tbody>
        </table>
        <div id="response" class="bg-danger"></div>
    </div>
</div>
@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="~/Scripts/GeneratePDF.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.DataTable').hide();
        });


        function getData() {

            $("#divLoading").html('<image src="../Content/images/ajax-loader.gif" alt="Loading, please wait" />');

            var url = '@Url.Action("Search", "MBHRE")';

            $(".tbody").empty();
            $("#divTables").empty();

            $('.DataTable').hide();
            document.getElementById('response').innerText = ('');
            var html = '';


            $('#error').fadeIn();
            $('#response').fadeIn();
            if ($("#txtEmiratesId").val().length == 0) {

                document.getElementById('error').innerText = ('Invalid ID Type');
                document.getElementById('error').style.color = 'white';

                $("#txtEmiratesId").focus();


                 $("#divLoading").html("");

                return false;
            }
            else {
                document.getElementById('error').innerText = ('');
            }

            var EmiratesId = $('#txtEmiratesId').val();
            var UsrAgent = { "UserAgent": $.browser };

            $.get(url, { EmiratesId: EmiratesId, UserAgent: JSON.stringify(UsrAgent) }, function (data) {

                if (data == '') {
                    $("#divLoading").html("");
                    return;
                }
                data = data.replace(/\:null/gi, "\:\"\"");
                var obj = JSON.parse(data);
                console.log(obj)

                if (obj.flag == "1") {
                    if (obj.objresp.customerInfo != null) {
                        var html1 = '<table class="DataTable table table-bordered  table-hover text-center table-active">';
                        html1 += '<th> معلومات المتعامل </th>';

                        html1 += '</tbody>  </table>';

                        $("#divTables").append(html1);

                        var html2 = BindHTML1(obj.objresp.customerInfo);

                        $("#divTables").append(html2);
                        $('.DataTable').show();

                    }

                    var html3 = '<table class="DataTable table table-bordered  table-hover text-center table-active">';
                    html3 += '<th> الخدمات </th>';

                    html3 += '</tbody>  </table>';

                    $("#divTables").append(html3);


                    if (obj.objresp.CustomerServices.services.length > 0) {
                        $.each(obj.objresp.CustomerServices.services, function (key, item) {

                            var html4 = BindHTMLServices(item);

                            $("#divTables").append(html4);
                            $('.DataTable').show();
                        });
                    }

                    var html7 = '<table class="DataTable table table-bordered  table-hover text-center table-active">';
                    html7 += '<th> العقارات </th>';

                    html7 += '</tbody>  </table>';

                    $("#divTables").append(html7);


                    if (obj.objresp.properties.length > 0) {
                        $.each(obj.objresp.properties, function (key, item) {

                            var html8 = BindHTMProperties(item);

                            $("#divTables").append(html8);
                            $('.DataTable').show();
                        });
                    }

                    var html5 = '<table class="DataTable table table-bordered  table-hover text-center table-active">';
                    html5 += '<th> مساعدة الحكومة </th>';

                    html5 += '</tbody>  </table>';

                    $("#divTables").append(html5);


                    if (obj.objresp.governmentHelp.length > 0) {
                        $.each(obj.objresp.governmentHelp, function (key, item) {

                            var html6 = BindHTMGovenmentHelpL(item);

                            $("#divTables").append(html6);
                            $('.DataTable').show();
                        });
                    }




                    var html1 = '<table class="DataTable table table-bordered  table-hover text-center table-active">';
                    html1 += '<th> الاعفاءات </th>';

                    html1 += '</tbody>  </table>';

                    $("#divTables").append(html1);


                    if (obj.objresp.excemptions.length > 0) {
                        $.each(obj.objresp.excemptions, function (key, item) {

                            html = BindHTML(item);

                            $("#divTables").append(html);
                            $('.DataTable').show();
                        });
                    }


              

                  

                
                

                }
                else {

                    if (obj.flag == "2"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }
                    else if(obj.flag == "3"  ) {
                        document.getElementById('response').innerText = (obj.ResponseDescription);
                        document.getElementById('response').style.color = 'white';
                    }

                }
                $("#divLoading").html("");
            });
        }

       $("#btnsubmit").on("click", getData);

       $('#create_pdf').on('click', function () {
            getPDF("MBHRE.pdf");
       });


        function BindHTML(item) {
            var html = '';

            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الرمز" + '</b></small></h6></td>';
            html += '<td>' + item.id + '</td>';
            html += '<td><h6><small><b>' + "رمز الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicantId + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicationNo + '</td>';
            html += '<td><h6><small><b>' + "تاريخ الانشاء" + '</b></small></h6></td>';
            html += '<td>' + item.createdOn + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "وصف الموافقة" + '</b></small></h6></td>';
            html += '<td>' + item.approvalDescription + '</td>';
            html += '<td><h6><small><b>' + "وصف الاعفاء" + '</b></small></h6></td>';
            html += '<td>' + item.exemptionDescription + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "سبب الاعفاء الآخر" + '</b></small></h6></td>';
            html += '<td>' + item.otherExemptionReason + '</td>';
            html += '<td><h6><small><b>' + "عدد افراد الاسرة" + '</b></small></h6></td>';
            html += '<td>' + item.familyCount + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الالتزامات" + '</b></small></h6></td>';
            html += '<td>' + item.liabilities + '</td>';
            html += '<td><h6><small><b>' + "الراتب" + '</b></small></h6></td>';
            html += '<td>' + item.salary + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "المبلغ المتبقي" + '</b></small></h6></td>';
            html += '<td>' + item.remainingLoanAmount + '</td>';
            html += '<td><h6><small><b>' + "عدد العقارات" + '</b></small></h6></td>';
            html += '<td>' + item.propertyCount + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "قانوني" + '</b></small></h6></td>';
            html += '<td>' + item.legacy + '</td>';
            html += '<td><h6><small><b>' + "ملاحظات الزيارة الميدانية" + '</b></small></h6></td>';
            html += '<td>' + item.fieldVisitNotes + '</td>';
            html += '</tr>';


            html += '<tr>';
            html += '<td><h6><small><b>' + "الدراسة الاجتماعية" + '</b></small></h6></td>';
            html += '<td>' + item.socialStudy + '</td>';
            html += '<td><h6><small><b>' + "الدراسة التقنية" + '</b></small></h6></td>';
            html += '<td>' + item.techStudy + '</td>';
            html += '</tr>';


            html += '<tr>';

            html += '<td><h6><small><b>' + "نسبة الراتب" + '</b></small></h6></td>';
            html += '<td>' + item.salaryPercentage + '</td>';
            html += '<td><h6><small><b>' + "النسبة المئوية" + '</b></small></h6></td>';
            html += '<td>' + item.deathPercentage + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "نسبة التكلفة الصحية" + '</b></small></h6></td>';
            html += '<td>' + item.healthCostPercentage + '</td>';
            html += '<td><h6><small><b>' + "نسبة العمر" + '</b></small></h6></td>';
            html += '<td>' + item.agePercentage + '</td>';
            html += '</tr>';

            html += '<tr>';

            html += '<td><h6><small><b>' + "الاسم" + '</b></small></h6></td>';
            html += '<td>' + item.name + '</td>';
            html += '<td><h6><small><b>' + "ملاحظات اللجنة" + '</b></small></h6></td>';
            html += '<td>' + item.committeeNotes + '</td>';
            html += '</tr>';



            html += '</tbody>  </table>';
            return html
        }

        function BindHTML1(item) {
            var html = '';

            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

  

            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم المبنى" + '</b></small></h6></td>';
            html += '<td>' + item.buildingNo + '</td>';
            html += '<td><h6><small><b>' + "العنوان الحالي" + '</b></small></h6></td>';
            html += '<td>' + item.currentAddress + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "تاريخ الميلاد" + '</b></small></h6></td>';
            html += '<td>' + item.dob + '</td>';
            html += '<td><h6><small><b>' + "رقم الاضبارة" + '</b></small></h6></td>';
            html += '<td>' + item.edbarahNo + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "البريد الالكتروني" + '</b></small></h6></td>';
            html += '<td>' + item.email + '</td>';
            html += '<td><h6><small><b>' + "الامارة" + '</b></small></h6></td>';
            html += '<td>' + item.emirate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم الهوية" + '</b></small></h6></td>';
            html += '<td>' + item.emiratesId + '</td>';
            html += '<td><h6><small><b>' + "عدد افراد الاسرة" + '</b></small></h6></td>';
            html += '<td>' + item.familyCount + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم الأسرة" + '</b></small></h6></td>';
            html += '<td>' + item.familyNo + '</td>';
            html += '<td><h6><small><b>' + "الجنس" + '</b></small></h6></td>';
            html += '<td>' + item.gender + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الحالة الصجية" + '</b></small></h6></td>';
            html += '<td>' + item.healthStatus + '</td>';
            html += '<td><h6><small><b>' + "رقم هاتف المنزل" + '</b></small></h6></td>';
            html += '<td>' + item.housePhoneNo + '</td>';
            html += '</tr>';


            html += '<tr>';
            html += '<td><h6><small><b>' + "نوع المنزل" + '</b></small></h6></td>';
            html += '<td>' + item.housingType + '</td>';
            html += '<td><h6><small><b>' + "مكان اصدار الخلاصة" + '</b></small></h6></td>';
            html += '<td>' + item.kholasaIssuePlace + '</td>';
            html += '</tr>';


            html += '<tr>';

            html += '<td><h6><small><b>' + "رقم الخلاصة" + '</b></small></h6></td>';
            html += '<td>' + item.kholasaNo + '</td>';
            html += '<td><h6><small><b>' + "الحالة الاجتماعية" + '</b></small></h6></td>';
            html += '<td>' + item.maritalStatus + '</td>';
            html += '</tr>';

            html += '<tr>';
            


            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم الهاتف المتحرك" + '</b></small></h6></td>';
            html += '<td>' + item.mobileNo + '</td>';
            html += '<td><h6><small><b>' + "الاسم" + '</b></small></h6></td>';
            html += '<td>' + item.name + '</td>';
            html += '</tr>';


            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم صندوق البريد" + '</b></small></h6></td>';
            html += '<td>' + item.personalPoBox + '</td>';
            html += '<td><h6><small><b>' + "امارة صندوق البريد" + '</b></small></h6></td>';
            html += '<td>' + item.personalPoBoxEmirate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "مكان الميلاد" + '</b></small></h6></td>';
            html += '<td>' + item.placeOfBirth + '</td>';
            html += '<td><h6><small><b>' + "دخل العقارات" + '</b></small></h6></td>';
            html += '<td>' + item.propertyIncom + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الرخص التجارية" + '</b></small></h6></td>';
            html += '<td>' + item.tradingLicense + '</td>';
            html += '<td><h6><small><b>' + "مدينة العمل" + '</b></small></h6></td>';
            html += '<td>' + item.workingCity + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "تاريخ الالتحاق بالعمل" + '</b></small></h6></td>';
            html += '<td>' + item.workingHireDate + '</td>';
            html += '<td><h6><small><b>' + "مكان العمل" + '</b></small></h6></td>';
            html += '<td>' + item.workingPlace + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "المنطقة" + '</b></small></h6></td>';
            html += '<td>' + item.area + '</td>';

            html += '</tr>';

            html += '</tbody>  </table>';
            return html
        }
        function BindHTMLServices(item) {
            var html = '';

            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';



            html += '<tr>';
            html += '<td><h6><small><b>' + "قيمة القرض المسموح" + '</b></small></h6></td>';
            html += '<td>' + item.allowedLoanValue + '</td>';
            html += '<td><h6><small><b>' + "مقدم الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicantId + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "تاريخ الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicationDate + '</td>';
            html += '<td><h6><small><b>' + "تاريخ اخر تحديث التطبيق" + '</b></small></h6></td>';
            html += '<td>' + item.applicationLastUpdateDate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رقم الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicationNo + '</td>';
            html += '<td><h6><small><b>' + "اسم حالة التطبيق" + '</b></small></h6></td>';
            html += '<td>' + item.applicationStatusName + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "نوع التطبيق" + '</b></small></h6></td>';
            html += '<td>' + item.applicationTypeDesc + '</td>';
            html += '<td><h6><small><b>' + "المتبقي" + '</b></small></h6></td>';
            html += '<td>' + item.balanceDue + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "لوحة" + '</b></small></h6></td>';
            html += '<td>' + item.board + '</td>';
            html += '<td><h6><small><b>' + "تاريخ التبعية" + '</b></small></h6></td>';
            html += '<td>' + item.directorsDependencyDate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الدفع المقدم" + '</b></small></h6></td>';
            html += '<td>' + item.earlyPayment + '</td>';
            html += '<td><h6><small><b>' + "الخصم الثابت" + '</b></small></h6></td>';
            html += '<td>' + item.epDiscountPersantage + '</td>';
            html += '</tr>';


            html += '<tr>';
            html += '<td><h6><small><b>' + "قيمة التمويل" + '</b></small></h6></td>';
            html += '<td>' + item.fundingAmount + '</td>';
            html += '<td><h6><small><b>' + "نموذج التمويل" + '</b></small></h6></td>';
            html += '<td>' + item.fundingForm + '</td>';
            html += '</tr>';


            html += '<tr>';

            html += '<td><h6><small><b>' + "المانح" + '</b></small></h6></td>';
            html += '<td>' + item.grantor + '</td>';
            html += '<td><h6><small><b>' + "القسط" + '</b></small></h6></td>';
            html += '<td>' + item.installment + '</td>';
            html += '</tr>';

            html += '<tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "آخر دفع" + '</b></small></h6></td>';
            html += '<td>' + item.lastPaymentDate + '</td>';
            html += '<td><h6><small><b>' + "التقسيط" + '</b></small></h6></td>';
            html += '<td>' + item.liabWithIstallmentPer + '</td>';
            html += '</tr>';


            html += '<tr>';
            html += '<td><h6><small><b>' + "تاريخ القرض" + '</b></small></h6></td>';
            html += '<td>' + item.loanBoardDate + '</td>';
            html += '<td><h6><small><b>' + "توصية القرض" + '</b></small></h6></td>';
            html += '<td>' + item.loanBranchRecommendation + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "نتيجة القرض" + '</b></small></h6></td>';
            html += '<td>' + item.loanResult + '</td>';
            html += '<td><h6><small><b>' + "تاريخ بداية القرض" + '</b></small></h6></td>';
            html += '<td>' + item.loanStartDate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "حالة القرض" + '</b></small></h6></td>';
            html += '<td>' + item.loanStatus + '</td>';
            html += '<td><h6><small><b>' + "اسم المنطقة" + '</b></small></h6></td>';
            html += '<td>' + item.regionName + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "السبب" + '</b></small></h6></td>';
            html += '<td>' + item.reasonName + '</td>';
            html += '<td><h6><small><b>' + "المتبقي" + '</b></small></h6></td>';
            html += '<td>' + item.remainingAmount + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "رأي الباحث" + '</b></small></h6></td>';
            html += '<td>' + item.researcherOption + '</td>';
            html += '<td><h6><small><b>' + "خدمة مبلغ التمويل" + '</b></small></h6></td>';
            html += '<td>' + item.serviceBoardFinanceAmount + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم نوع الخدمة" + '</b></small></h6></td>';
            html += '<td>' + item.serviceTypeName + '</td>';
            html += '<td><h6><small><b>' + "دراسة الحالة" + '</b></small></h6></td>';
            html += '<td>' + item.socialStudy + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "الملخص" + '</b></small></h6></td>';
            html += '<td>' + item.summaryDesc + '</td>';
            html += '<td><h6><small><b>' + "الاجمالي للدفع" + '</b></small></h6></td>';
            html += '<td>' + item.totalToPay + '</td>';
            html += '</tr>';

            html += '</tbody>  </table>';
            return html
        }
        function BindHTMGovenmentHelpL(item) {
            var html = '';

            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';
            html += '<td><h6><small><b>' + "مقدم الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicantId + '</td>';
            html += '<td><h6><small><b>' + "الزوجة المرفقة" + '</b></small></h6></td>';
            html += '<td>' + item.attachedWife + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "مساعدة الحكومة" + '</b></small></h6></td>';
            html += '<td>' + item.governmentalHelpAmount + '</td>';
            html += '<td><h6><small><b>' + "تاريخ الدعم الحكومي" + '</b></small></h6></td>';
            html += '<td>' + item.governmentalHelpDate + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "صاحب المساعدة الحكومية" + '</b></small></h6></td>';
            html += '<td>' + item.governmentalHelpOwner + '</td>';
            html += '<td><h6><small><b>' + "اسم المانح" + '</b></small></h6></td>';
            html += '<td>' + item.grantorName + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم المساعدة" + '</b></small></h6></td>';
            html += '<td>' + item.helpName + '</td>';
            html += '<td><h6><small><b>' + "قطعة الارض" + '</b></small></h6></td>';
            html += '<td>' + item.plotArea + '</td>';
            html += '</tr>';

         
            html += '</tbody>  </table>';
            return html
        }
        function BindHTMProperties(item) {
            var html = '';

            html += '<table class="DataTable table table-bordered  table-hover text-center table-active">';
            html += '<tbody class="tbody text-center" id="tbody">';

            html += '<tr>';
            html += '<td><h6><small><b>' + "قيمة التعويض" + '</b></small></h6></td>';
            html += '<td>' + item.amountGrantedLandCompensate + '</td>';
            html += '<td><h6><small><b>' + "مقدم الطلب" + '</b></small></h6></td>';
            html += '<td>' + item.applicantId + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "المدينة" + '</b></small></h6></td>';
            html += '<td>' + item.cityName + '</td>';
            html += '<td><h6><small><b>' + "التاريخ" + '</b></small></h6></td>';
            html += '<td>' + item.comensateDate + '</td>';
            html += '</tr>';



            html += '<tr>';
            html += '<td><h6><small><b>' + "الوصف" + '</b></small></h6></td>';
            html += '<td>' + item.description + '</td>';
            html += '<td><h6><small><b>' + "تعويض الارض الممنوحة" + '</b></small></h6></td>';
            html += '<td>' + item.isGrantedLandCompensate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "موتاساري" + '</b></small></h6></td>';
            html += '<td>' + item.motasare + '</td>';
            html += '<td><h6><small><b>' + "التاريخ" + '</b></small></h6></td>';
            html += '<td>' + item.motasareDate + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "ملاحظات" + '</b></small></h6></td>';
            html += '<td>' + item.notice + '</td>';
            html += '<td><h6><small><b>' + "مالك مساحة القطعة" + '</b></small></h6></td>';
            html += '<td>' + item.ownerPlotArea + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "مساحة القطعة" + '</b></small></h6></td>';
            html += '<td>' + item.plotArea + '</td>';
            html += '<td><h6><small><b>' + "رقم قطعة الارض" + '</b></small></h6></td>';
            html += '<td>' + item.plotNumber6 + '</td>';
            html += '</tr>';

            html += '<tr>';
            html += '<td><h6><small><b>' + "اسم المنطقة" + '</b></small></h6></td>';
            html += '<td>' + item.regionName + '</td>';

            html += '</tr>';

            html += '</tbody>  </table>';
            return html
        }
    </script>
}
